<h1>Listing regions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th >Region</th>
      <th style="text-align:right; padding-right:10px; ">Channels</th>
      <th style="text-align:right; padding-right:10px; ">Videos</th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= link_to "#{region.name} (#{region.code})", region %></td>
        <td style="text-align:right; padding-right:10px; "><%= number_with_delimiter(region.channels.count) %></td>
        <td style="text-align:right; padding-right:10px; ">
          <% total_videos = 0 %>
          <% region.channels.each do |ch| %>
            <% total_videos = total_videos + ch.videos.count %>
          <% end %>
          <%= number_with_delimiter(total_videos) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Region', new_region_path %>
