<h2>Listing regions</h2>

<h4>Subscribers <small>구독자 통계</small></h4>
<%= pie_chart @regions.order("subscriber_count DESC").group(:name).maximum("subscriber_count").first(10) %>
<h4>Videos <small>비디오 조회 통계</small></h4>
<%= pie_chart @regions.order("view_count DESC").group(:name).maximum("view_count").first(10) %>

<%= render partial: 'regions/regions'  %>
<br>

<%= link_to 'New Region', new_region_path %>
